@charset "UTF-8";
/* reset main */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* Common */
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

aside, nav, footer, header, section, main {
  display: block;
}

ul, ul li {
  padding: 0;
  list-style: none;
}

img, svg {
  max-width: 100%;
  height: auto;
  display: block;
}

address {
  font-style: normal;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  margin: 0;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
}

/* Стили Тёмной темы */
body.dark-theme {
  background-color: lightblue;
}

.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 380px;
}
@media screen and (max-width: 1440px) {
  .container {
    padding: 0 100px;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    padding: 0 50px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    padding: 0 30px;
  }
}
@media screen and (max-width: 440px) {
  .container {
    padding: 0 20px;
  }
}

a {
  -webkit-box-shadow: inset 0 0 0 0 #34547A;
          box-shadow: inset 0 0 0 0 #34547A;
  color: #000;
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
  -webkit-transition: color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}
a:hover {
  -webkit-box-shadow: inset 100px 0 0 0 #34547A;
          box-shadow: inset 100px 0 0 0 #34547A;
  color: #fff;
}

h1 {
  color: #000;
  font-size: 48px;
  font-weight: 500;
}

h2 {
  color: #000;
  font-size: 32px;
  font-weight: 500;
  line-height: normal;
}

.main-text {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 31.4px;
  color: #727272;
}

/* Custom */
.is--hiden {
  display: none;
}

.for--mobile {
  display: none;
}

.btn--reset {
  border: none;
  background: transparent;
  cursor: pointer;
}

.no--scroll {
  overflow-y: hidden;
}

.header {
  min-height: 700px;
  background-color: #EEEFF1;
  padding: 57px 0 146px 0;
}
@media screen and (max-width: 440px) {
  .header {
    padding: 30px 0 120px 0;
  }
}

.header__top-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
}
@media screen and (max-width: 440px) {
  .header__top-row {
    margin-bottom: 6cap;
  }
}
.header__top-row .nav {
  text-transform: uppercase;
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  .header__top-row .nav {
    display: none;
  }
}
.header__top-row .nav .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 42px;
     -moz-column-gap: 42px;
          column-gap: 42px;
}

.header__main-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media screen and (max-width: 576px) {
  .header__main-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
  }
}
.header__main-row .main__img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 1024px) {
  .header__main-row .main__img-box img {
    width: 300px;
    height: 205px;
  }
}
@media screen and (max-width: 440px) {
  .header__main-row .main__img-box img {
    width: 200px;
    height: 125px;
  }
}
.header__main-row .main__text-box {
  width: 540px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 60px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.header__main-row .main__text-box .btn {
  padding: 13px 50px;
  border: 1px solid #34547A;
  border-radius: 4px;
  background-color: #34547A;
  color: #EEEFF1;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.header__main-row .main__text-box .btn:hover {
  color: #34547A;
  background-color: #EEEFF1;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
          box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px);
  border-color: #34547A;
}
.header__main-row .main__text-box .btn:active {
  background-color: #34547A;
  border-color: #EEEFF1;
  color: #EEEFF1;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
.header__main-row .main__text-box .btn:focus, .header__main-row .main__text-box .btn:active:focus {
  background-color: #EEEFF1;
  border-color: #34547A;
  color: #34547A;
}
.header__main-row .main__text-box .btn:visited {
  background-color: #34547A;
  border-color: #EEEFF1;
}
@media screen and (max-width: 768px) {
  .header__main-row .main__text-box {
    width: 300px;
    row-gap: 20px;
  }
}
@media screen and (max-width: 576px) {
  .header__main-row .main__text-box {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.header__nav-btn {
  display: none;
}
@media screen and (max-width: 768px) {
  .header__nav-btn {
    display: block;
  }
}

.header__top-row--mobile {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: lightgrey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 60px;
  padding-top: 80px;
  padding-bottom: 40px;
  z-index: 9;
}
.header__top-row--mobile .logo--box {
  position: absolute;
  top: 57px;
  left: 30px;
}
@media screen and (max-width: 440px) {
  .header__top-row--mobile .logo--box {
    position: static;
  }
}
.header__top-row--mobile .nav {
  display: block;
}
.header__top-row--mobile .nav__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 20px;
}
.header__top-row--mobile .cl-toggle-switch {
  display: block;
}
.header__top-row--mobile .header__nav-btn {
  position: fixed;
  top: 63px;
  right: 30px;
}
@media screen and (max-width: 440px) {
  .header__top-row--mobile .header__nav-btn {
    top: 60px;
    right: 10px;
  }
}

.cl-toggle-switch {
  position: relative;
}
@media screen and (max-width: 768px) {
  .cl-toggle-switch {
    display: none;
  }
}

.cl-switch {
  position: relative;
  display: inline-block;
}

/* Input */
.cl-switch > input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  z-index: -1;
  position: absolute;
  right: 6px;
  top: -8px;
  display: block;
  margin: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.38);
  outline: none;
  opacity: 0;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  pointer-events: none;
  -webkit-transition: opacity 0.3s 0.1s, -webkit-transform 0.2s 0.1s;
  transition: opacity 0.3s 0.1s, -webkit-transform 0.2s 0.1s;
  transition: opacity 0.3s 0.1s, transform 0.2s 0.1s;
  transition: opacity 0.3s 0.1s, transform 0.2s 0.1s, -webkit-transform 0.2s 0.1s;
}

/* Track */
.cl-switch > span::before {
  content: "";
  display: inline-block;
  margin: 5px 0 5px 10px;
  border-radius: 7px;
  width: 36px;
  height: 14px;
  background-color: rgba(0, 0, 0, 0.38);
  vertical-align: top;
  -webkit-transition: background-color 0.2s, opacity 0.2s;
  transition: background-color 0.2s, opacity 0.2s;
}

/* Thumb */
.cl-switch > span::after {
  content: "";
  position: absolute;
  top: 2px;
  right: 16px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  -webkit-transition: background-color 0.2s, -webkit-transform 0.2s;
  transition: background-color 0.2s, -webkit-transform 0.2s;
  transition: background-color 0.2s, transform 0.2s;
  transition: background-color 0.2s, transform 0.2s, -webkit-transform 0.2s;
}

/* Checked */
.cl-switch > input:checked {
  right: -10px;
  background-color: #8daed6;
}

.cl-switch > input:checked + span::before {
  background-color: #8daed6;
}

.cl-switch > input:checked + span::after {
  background-color: #34547A;
  -webkit-transform: translateX(16px);
      -ms-transform: translateX(16px);
          transform: translateX(16px);
}

/* Hover, Focus */
.cl-switch:hover > input {
  opacity: 0.04;
}

.cl-switch > input:focus {
  opacity: 0.12;
}

.cl-switch:hover > input:focus {
  opacity: 0.16;
}

/* Active */
.cl-switch > input:active {
  opacity: 1;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: opacity 0s, -webkit-transform 0s;
  transition: opacity 0s, -webkit-transform 0s;
  transition: transform 0s, opacity 0s;
  transition: transform 0s, opacity 0s, -webkit-transform 0s;
}

.cl-switch > input:active + span::before {
  background-color: #5f82ad;
}

.cl-switch > input:checked:active + span::before {
  background-color: #5f82ad;
}

/* Disabled */
.cl-switch > input:disabled {
  opacity: 0;
}

.cl-switch > input:disabled + span::before {
  background-color: #ddd;
}

.cl-switch > input:checked:disabled + span::before {
  background-color: #bfdbda;
}

.cl-switch > input:checked:disabled + span::after {
  background-color: #61b5b4;
}

/* Nav Icon */
.nav-icon-btn {
  --time: 0.1s;
  --width: 40px;
  --height: 30px;
  --line-height: 2px;
  --line-margin: 2;
  --color: #34547A;
  height: var(--height);
  width: var(--width);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-icon {
  position: relative;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
}

.nav-icon::before,
.nav-icon::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
  -webkit-transition: top var(--time) linear var(--time), -webkit-transform var(--time) ease-in;
  transition: top var(--time) linear var(--time), -webkit-transform var(--time) ease-in;
  transition: transform var(--time) ease-in, top var(--time) linear var(--time);
  transition: transform var(--time) ease-in, top var(--time) linear var(--time), -webkit-transform var(--time) ease-in;
}

.nav-icon::before {
  top: calc(var(--line-height) * -5);
}

.nav-icon::after {
  top: calc(var(--line-height) * 5);
}

.nav-icon.nav-icon--active {
  background-color: transparent;
}

.nav-icon.nav-icon--active::before,
.nav-icon.nav-icon--active::after {
  top: 0;
  -webkit-transition: top var(--time) linear, -webkit-transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, -webkit-transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, transform var(--time) ease-in var(--time), -webkit-transform var(--time) ease-in var(--time);
}

.nav-icon.nav-icon--active::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav-icon.nav-icon--active::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.about {
  padding-top: 110px;
  padding-bottom: 110px;
  text-align: center;
}
.about .h2 {
  margin-bottom: 50px;
}
.about .about__text {
  max-width: 600px;
  margin: 0 auto;
}

.projects {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #34547A;
}

.project__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .project__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 20px;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.icon__item--inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  color: #fff;
}

.skills {
  padding-top: 101px;
  padding-bottom: 101px;
}

.skills__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .skills__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .skills__box-left {
    width: 100%;
  }
}
.skills__box-left .h2 {
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .skills__box-left .h2 {
    text-align: center;
  }
}
.skills__box-left .skill__line-box {
  margin-bottom: 30px;
}
.skills__box-left .skill__line-box .main-text {
  margin-bottom: 10px;
  text-align: center;
}
.skills__box-left .skill__line-box .line {
  position: relative;
}
.skills__box-left .skill__line-box .line::before {
  position: absolute;
  display: block;
  content: "";
  width: 445px;
  height: 4px;
  background-color: #C4C4C4;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media screen and (max-width: 440px) {
  .skills__box-left .skill__line-box .line::before {
    width: 200px;
  }
}
.skills__box-left .skill__line-box .line::after {
  position: absolute;
  display: block;
  content: "";
  width: 350px;
  height: 4px;
  background-color: #34547A;
  left: 50%;
  -webkit-transform: translateX(-70%);
      -ms-transform: translateX(-70%);
          transform: translateX(-70%);
}
@media screen and (max-width: 440px) {
  .skills__box-left .skill__line-box .line::after {
    width: 150px;
  }
}

.skills__box-right {
  margin-top: 20px;
  max-width: 555px;
  max-height: 450px;
}
@media screen and (max-width: 1024px) {
  .skills__box-right {
    max-width: 400px;
    max-height: 305px;
  }
}

.howiwork {
  padding-top: 110px;
  padding-bottom: 110px;
  text-align: center;
  background-color: #EEEFF1;
}
.howiwork .h2 {
  margin-bottom: 50px;
}
.howiwork .about__text {
  max-width: 540px;
  margin: 0 auto;
  margin-bottom: 57px;
}

.video {
  position: relative;
  display: inline-block;
}
.video:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.video::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(18, 53, 93, 0.2);
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}
.video:hover::before {
  background: rgba(18, 53, 93, 0.9);
}

.video_icon {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 10%;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.video:hover .video_icon {
  width: 13%;
}

.works__inner-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media screen and (max-width: 576px) {
  .works__inner-box {
    grid-template-columns: repeat(2, 1fr);
  }
}

.works__inner-item {
  position: relative;
}

.works__inner-item:hover {
  cursor: pointer;
}
.works__inner-item:hover .works__item-block {
  opacity: 1;
}

.works__item-block {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(52, 84, 122, 0.8);
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.works__item-block .works__item-hover {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.companies {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #fff;
}

.companies__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 1024px) {
  .companies__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.formsec {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  background-color: #EEEFF1;
}
.formsec .h2 {
  margin-bottom: 50px;
}
.formsec .form__text {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 56px;
}

.form {
  max-width: 540px;
  width: 100%;
  margin: 0 auto;
}
.form .form__inner-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}
@media screen and (max-width: 576px) {
  .form .form__inner-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 30px;
  }
}
.form .form__inner-box {
  position: relative;
}
.form input {
  width: 255px;
  height: 60px;
  padding: 18px 20px;
  border: 2px solid #34547A;
  border-radius: 4px;
  background-color: #fff;
  outline: 0;
}
@media screen and (max-width: 576px) {
  .form input {
    width: 100%;
  }
}
.form label {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 15px;
  line-height: 23px;
  color: gray;
  padding: 18px 20px;
  cursor: text;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.form textarea {
  max-width: 540px;
  height: 170px;
  width: 100%;
  padding: 18px 20px;
  border: 2px solid #34547A;
  border-radius: 4px;
  background-color: #fff;
  resize: none;
  outline: 0;
}
.form input:focus ~ label, .form input:valid ~ label,
.form textarea:focus ~ label, .form textarea:valid ~ label {
  top: -40px;
  left: -18px;
  font-size: 12px;
  color: #34547A;
}
.form textarea:focus, .form input:focus {
  border: 3px solid yellowgreen;
}
.form .form__btn {
  padding: 13px 50px;
  border: 1px solid #34547A;
  border-radius: 4px;
  background-color: #34547A;
  color: #EEEFF1;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  text-transform: uppercase;
  margin-top: 40px;
}
.form .form__btn:hover {
  color: #34547A;
  background-color: #EEEFF1;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
          box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px);
  border-color: #34547A;
}
.form .form__btn:active {
  background-color: #34547A;
  border-color: #EEEFF1;
  color: #EEEFF1;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
.form .form__btn:focus, .form .form__btn:active:focus {
  background-color: #EEEFF1;
  border-color: #34547A;
  color: #34547A;
}
.form .form__btn:visited {
  background-color: #34547A;
  border-color: #EEEFF1;
}

.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #34547A;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__inner .footer__leftside {
  color: #fff;
}
.footer__inner .footer__leftside .h3 {
  font-size: 21px;
  font-weight: 500;
  margin-bottom: 20px;
}
.footer__inner .footer__leftside .footer__text {
  font-size: 13px;
  font-weight: 400;
  line-height: 21.328px;
}
.footer__inner .footer__rightside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}