.projects{

    padding-top: 100px;
    padding-bottom: 100px;
    
    background-color: $color-main;
}

.project__inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include mediaSTablet{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
        row-gap: 20px;

        justify-items: center;
        align-items: center;

    }
}

.icon__item--inner{
    display: flex;
    align-items: center;
    column-gap: 20px;

    color: $color-accent;
}


