// fonts
$font-main: 'Roboto', sans-serif;
// $font-accent: 'Georgia', serif;
// $font-secondary: 'Georgia', serif;

// colors
$text-main: #000;
$text-accent: #727272;
$color-main: #34547A;
$color-accent: #fff;
$bcg: #EEEFF1;


// animated

$transition: all 0.25s ease-in-out;


// media

$start: 1440px;
$tablet: 1024px;
$stablet: 768px;
$xstablet: 576px;
$phonemax: 440px;
$phones: 330px;